<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CleanApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA4206B72AD1876F00772934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4206BE2AD1876F00772934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACFD8C92ACF52030016FA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACFD8DA2ACF6DB90016FA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACFD8E12ACF6DB90016FA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
