<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62323A6326C4C96600E1564B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62323A6B26C4C96600E1564B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6246BE5026BACD6E003393BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6246BE6126BAD2E6003393BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6246BE6926BAD2E6003393BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>626639E326D5748300EB29DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
